.container {
  height: 250px;
  border-top: 5px solid greenyellow;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  padding: 50px;
  background-color: #000;
}

.title {
  font-weight: 400;
  color: #fff;
  background-color: green;
  padding: 5px;
  width: max-content;
}

.linkTitle {
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
}
.linkImg {
  background-color: #fff;
  border-radius: 3px;
}

.cardL {
  flex: 2;
}

.cardS {
  flex: 1;
}
.cardItem {
  margin-bottom: 20px;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .container {
    height: auto;
    flex-direction: column;
  }

  .title,
  .linkTitle {
    font-size: 30px;
  }

  .cardItem {
    text-align: center;
  }
}
